body{
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  background-color: #CACBD5;
}
h4{
  width: 110px;
  float: left;
}
a:hover{
  color: #E7E7EA;
}
.header-container{
  width: 100%;
  height: 100%;
  padding:0;
  background-color: #CACBD5;
}
.login_title{
  color: white;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 10px;
  background-color: #101E91;

}
.navbar-inverse {
  background-color: #222;
  border-color: #060B36;
  box-shadow: 5px 5px 19px #888888;
}
.navbar-header{
  background: linear-gradient(to left, #747E9C , #FFFFFF);
  height: 200px;
  width: 100%;
  padding: 15px;
  vertical-align: middle;
  margin-right: 50%;
  margin-left: 50%;
}
.navbar-collapse collapse in{
  background-color: #E7E7EA;

}
.header-container>.navbar-header {
  width:100%;
  margin-right: 0;
  margin-left: 0;
}
.logo{
  margin-top: 30px;
  margin-left: 30px;
}
.navbar-brand{
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: white;
  position: absolute;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin: 0px;
}

.listload{
  width: 100%;
  margin: 0 auto;
}
#headings{
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size:50px;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
}
.subtitles2{
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size:30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.container{
  height: 1200px;
  width: 97%;
  margin: 20px auto;
  border-radius: 0.4em;
  background-color: #FCFCFF;
}

.content{
  width: 99%;
  background-color: #FCFCFF;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 100%;
  background-size: cover;
}

.content-title{
  width: 600px;
  height: 70px;
  background: linear-gradient(to right, #A9A9AC , #FCFCFF);
  padding-top: 10px;

}
.addcomparison ,.showmore {
  font-size: 12px;
  border-radius: 3em;
  cursor: pointer;
  background: none;
  color: #A9A9AC;
  border: 1px solid;
  font-family: 'Maven Pro', sans-serif;
}
select{

}
.submit{
  max-width: 150px;
  height: 40px;
  width: 140px;
  margin-left: 47%;
  margin-right: 53%;
  font-size: 20px;
  border-radius: 3em;
  cursor: pointer;
  background: none;
  color: #A9A9AC;
  border: 1px solid;
  font-family: 'Maven Pro', sans-serif;
}

.panel{
  width: 400px;
  padding: 15px;
  float: left;
  margin-left: 150px;
  margin-top: 40px;
  background-color: #E1E2ED;
}
.panel-full{

}
.panel-top{
  max-height: 270px;
  height: 250px;
}

.panel-body{
  width:100%;

}
.panel-tail{
  margin-top:300px;
  height: 50px;
}
.btnArea{
  width:200px;
  height: 200px;
  float:left;
  margin-left: 150px;

}
.addcarText{
  color: dimgrey;
  font-family: 'Maven Pro', sans-serif;
  font-size:20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.addcomparison{
  font-size:30px;
  width: 70px;
  height: 70px;
  margin-top:10%;
  margin-left: 20%;

}
.showmore {
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 180px;
  font-size: 20px;
}
.Table {
  display: block;
  width: 100%;
  margin: 1em 0;
}
.addform{
  height: 200px;
  width: 200px;
}
@media screen and (min-width: 50em) {


}